.view-container {
  background: url("./assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

header {
  font-family: verdana, monospace;
  font-size: 35px;
  text-align: center;
  padding: 25px;
}

.view-tables-container {
  padding: 30px;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 60px;
  flex-shrink: 0;
}

.viewHolder {
  background-color: rgb(255, 255, 255, 100%);
  height: 100px;
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
  border-radius: 20px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: baseline;
  margin: 20px 15px 20px 15px;
  transition: box-shadow 2000ms ease, background-color 1000ms ease-in-out;
}

/* .node {
  opacity: 1;
} */

.node-appear {
  opacity: 0;
  transform: translate(0, 50px);
  size: 0;
}

.node-appear-active {
  opacity: 1;
  transform: translate(0, 0px);
  transition: opacity 1000ms ease-in, transform 1000ms linear;
}

.viewHolder:hover {
  box-shadow: 0 0 50px rgb(0 0 0 / 50%);
  background-color: rgb(255, 255, 255, 0%);
  transition: box-shadow 1000ms ease, background-color 1000ms ease-in-out;
}

.backButton {
  font-family: "verdana";
  background: transparent;
  border: none;
  outline: none;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  padding: 9px 10px;
  border-radius: 100px;
  margin: 15px;
  cursor: pointer;
  font-weight: bold;
  top: 15px;
  color: black;
  transition: all 1000ms ease;
  margin-bottom: -115px;
}

.backButton:hover {
  background: rgb(255, 255, 255, 80%);
  box-shadow: 0 0 50px rgb(0 0 0 / 50%);
  color: black;
  transition: all 1000ms ease, width 1000ms ease-in-out;
}
